<!-- Top Navbar -->
<nav class="bg-gray-50 p-4 flex justify-between items-center border-b-2 border-gray-200">
  <!-- Left: Sidebar Toggle + Logo -->
  <div class="flex items-center space-x-4">
    <!-- Sidebar Toggle Button -->
    <button (click)="toggleSidebar()" class="p-2 cursor-pointer transition-colors text-black hover:bg-gray-200 rounded-md">
      <svg *ngIf="sidebarOpen" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 18L18 6M6 6l12 12"/></svg>
      <svg *ngIf="!sidebarOpen" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 12h18M3 6h18M3 18h18"/></svg>
    </button>

    <!-- Logo -->
    <div class="flex items-center space-x-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-notebook-pen-icon"><path d="M13.4 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7.4"/><path d="M2 6h4"/><path d="M2 10h4"/><path d="M2 14h4"/><path d="M2 18h4"/><path d="M21.378 5.626a1 1 0 1 0-3.004-3.004l-5.01 5.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"/></svg>
      <span class="font-bold text-xl text-black">My Blog</span>
    </div>
    <div class="flex flex-row border-l h-6 border-gray-300 ml-2">
      <input type="text" placeholder="Search..." class="ml-4 px-2 text-gray-600 w-64 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all" />
      <button class="cursor-pointer ml-2 flex flex-row text-black">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24" fill="none" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>
      </button>
    </div>
  </div>

  <!-- Right: Top Actions -->
  <div class="flex items-center space-x-4">
    <a [routerLink]="['/write']" class="flex flex-row text-black px-4 py-2 rounded-lg hover:text-amber-800 transition-colors">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-pen-icon lucide-square-pen"><path d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/><path d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z"/></svg>
      Write
    </a>
    <button (click)="showDialog()" class="bg-green-500 text-white px-4 py-2 rounded-4xl hover:bg-green-700 transition-colors">Sign In/Up</button>
  </div>
</nav>

<!-- Sidebar + Main Content -->
<div class="flex h-screen">
  <!-- Sidebar -->
  <div [ngClass]="{'w-64': sidebarOpen, 'w-16': !sidebarOpen, 'border-gray-50':sidebarOpen, 'border-r-2': sidebarOpen}" class="bg-gray-50 border-gray-200 transition-width duration-300 h-full flex flex-col">
    <div class="flex flex-col mt-6 space-y-2">
      <a [routerLink]="['/']" class="px-4 py-2 text-black hover:text-orange-900 flex items-center gap-2">
        <span *ngIf="sidebarOpen" class="flex flex-row gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
          Home
        </span>
      </a>
      <a [routerLink]="['/about']" class="px-4 py-2 text-black hover:text-orange-900 flex items-center gap-2">
        <span *ngIf="sidebarOpen" class="flex flex-row gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book-open-text-icon lucide-book-open-text"><path d="M12 7v14"/><path d="M16 12h2"/><path d="M16 8h2"/><path d="M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z"/><path d="M6 12h2"/><path d="M6 8h2"/></svg>
          Blogs
        </span>
      </a>
      <a [routerLink]="['/contact']" class="px-4 py-2 text-black hover:text-orange-900 flex items-center gap-2">
        <span *ngIf="sidebarOpen" class="flex flex-row gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone-icon lucide-phone"><path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/></svg>
          Contact
        </span>
      </a>

      <a [routerLink]="['/contact']" class="px-4 py-2 text-black hover:text-orange-900 flex items-center gap-2">
        <span *ngIf="sidebarOpen" class="flex flex-row gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bookmark-icon lucide-bookmark"><path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z"/></svg>
          Bookmarks
        </span>
      </a>
    </div>
    <div *ngIf="sidebarOpen" class="mt-32 mb-4 px-4 py-2 text-black flex flex-col gap-2">
      <a class="flex flex-row gap-2 hover:text-orange-900 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bell-icon lucide-bell"><path d="M10.268 21a2 2 0 0 0 3.464 0"/><path d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326"/></svg>
        Notifications
      </a>
      <a class="flex flex-row gap-2 hover:text-orange-900 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings-icon lucide-settings"><path d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915"/><circle cx="12" cy="12" r="3"/></svg>
        Settings
      </a>
    </div>
  </div>

  <!-- Main Content -->
  <div class="flex-1">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Sign In/Up Dialog -->
<p-dialog
  header="Let's Get Started"
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: 'auto', background: 'white', color: 'black', borderRadius: '1rem' }"
  [contentStyle]="{ 'display': 'flex', 'justify-content': 'center', 'align-items': 'center', 'height': '100%' }"
  [baseZIndex]="10000"
>
  <div class="flex justify-center items-center w-full flex-col">
    @if(loginVisible){
      <app-login></app-login>
      <p>Don't have an Account? 
        <button (click)="toggleLogin()" class="text-blue-600 hover:underline">Sign Up</button>
      </p>
    } @else {
      <app-signup></app-signup>
      <p>Already have an Account? 
        <button (click)="toggleLogin()" class="text-blue-600 hover:underline">Sign In</button>
      </p>
    }
  </div>
</p-dialog>
