<div class="p-fluid">
 <div>
    <h2 class="pl-3 text-2xl font-semibold">{{title}}</h2>
    <quill-view-html [content]="content" format="text" theme="snow"></quill-view-html>
 </div>

  <div class="p-d-flex p-jc-end p-mt-3">
    <button
      pButton
      label="Close"
      icon="pi pi-times"
      class="p-button-text"
      (click)="closeDialog()">
      Cancel
    </button>
  </div>

  <div>
    <button (click)="saveAsDraft()" pButton type="button" label="Save as Draft" class="p-button-outlined p-mr-2">Darft</button>
    <button (click)="saveBlog()" pButton type="button" label="Save" class="p-button-outlined">Publish</button>
  </div>
</div>
